@media (min-width: 500px) and (max-width: 900px) {
    body {
        padding: 5%;
    }

    .container form {
        margin-bottom: 2.5rem;
    }

    .submit {
        right: 45%;
    }
}

@media (max-width: 500px) {
    body {
        padding: 5%;
    }

    .container {
        padding: 1.25rem;
    }

    .container form {
        gap: 0.625rem;
        margin-bottom: 2.5rem;
    }

    .error {
        margin-bottom: 20px;
    }

    .submit {
        right: 37%;
        top: 35%;
        padding: 1.2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    input {
        width: 100%;
    }

    section:first-child {
        margin-bottom: 3.125rem;
    }
}